{
 "openapi": "3.1.0",
 "info": {
  "title": "MarketNow Skills API",
  "description": "The open marketplace for MCP-compatible agent skills. 68,388 index-certified skills, free to install, with B2B pricing tiers. Designed for autonomous agent consumption.\n\n## Authentication\nMost read endpoints are public (no auth required). Write endpoints (checkout) require no auth but redirect to Stripe.\n\n## Rate Limits\n- Anonymous: 60 requests/minute\n- The full catalog (/api/skills.json) is ~94MB uncompressed (~8MB gzipped transfer) — cache locally for 24h\n\n## Languages\nThe site UI and docs are available in 14 languages. Skill metadata is English-primary.\n\n## Concurrency & Rate Limits (v4.0)\n- Search: 60 req/min per IP\n- Audit: 30 req/min per IP\n- Purchase: 20 req/min per IP\n- Mandates: 30 req/min per IP\n- All endpoints use in-memory caches (5min TTL for skills, 30s for mandates)\n- USDC verification uses a 4-endpoint RPC pool with automatic failover\n- Monitoring: GET /api/manifest?health\n\n## Stats (live)\n- 68,388 MCP skills indexed\n- 16 categories\n- 68,387 free skills\n- 14 languages: EN, ES, PT, ZH, FR, DE, IT, RU, TR, JA, KO, AR, HI, UTA\n- Pricing: B2B pricing: Community (Free) / Team ($99/mo) / Enterprise (Custom)\n- License: AliceLabs LLC Proprietary\n\n\n## Concurrency & Rate Limits (v4.1)\n- Search: 60 req/min per IP\n- Audit: 30 req/min per IP\n- Purchase: 20 req/min per IP\n- Mandates: 30 req/min per IP\n- All endpoints use in-memory caches (5min TTL for skills, 30s for mandates)\n- USDC verification uses a 4-endpoint RPC pool with automatic failover\n- Monitoring: GET /api/manifest?health\n\n## Stats (live)\n- 68,388 MCP skills indexed\n- 16 categories\n- 68,387 free skills\n- 14 languages: EN, ES, PT, ZH, FR, DE, IT, RU, TR, JA, KO, AR, HI, UTA\n- Pricing: B2B pricing: Community (Free) / Team ($99/mo) / Enterprise (Custom)\n- License: AliceLabs LLC Proprietary\n- Maintainer: AliceLabs LLC (Wyoming, USA, 2025) Commerce endpoints (agent-purchase, checkout, mandates) are PLANNED (gate C1) and intentionally not listed here; they respond with a status JSON via /api/skills?_mode=commerce.",
  "version": "4.1.0",
  "contact": {
   "name": "MarketNow",
   "url": "https://www.marketnow.site",
   "email": "info@alicelabs.site"
  },
  "license": {
   "name": "AliceLabs LLC Proprietary",
   "url": "https://github.com/alicelabs-llc/marketnow/blob/master/SENTINEL-LICENSE"
  }
 },
 "servers": [
  {
   "url": "https://www.marketnow.site",
   "description": "Production"
  }
 ],
 "paths": {
  "/api/agent.json": {
   "get": {
    "summary": "Get agent instructions",
    "description": "Machine-readable instructions for autonomous agents. Includes workflow, tools, rate limits, and authentication requirements.",
    "operationId": "getAgentInstructions",
    "responses": {
     "200": {
      "description": "Agent instructions",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AgentInstructions"
        }
       }
      }
     }
    }
   }
  },
  "/api/atc": {
   "get": {
    "summary": "Agent Trust Card (ATC) — verify identity, validity, and review evidence",
    "description": "Agent Trust Card API — SSL certificates for AI agents. MarketNow acts as the Certificate Authority. Every ATC is cryptographically signed with the CA Ed25519 private key and persisted to a public GitHub ledger. Schema v1.1.0 (July 2026): trust.sentinel_review_score is review evidence, not a verdict; decision_authority=consumer. Action-receipts (v1.1.0): signed delivery proof for completed purchases (PLANNED gate C1); verify with action=verify-receipt.",
    "operationId": "atcOperations",
    "parameters": [
     {
      "name": "action",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "verify",
        "verify-receipt",
        "ca-key",
        "spec",
        "list"
       ]
      },
      "description": "ATC operation to perform"
     }
    ],
    "responses": {
     "200": {
      "description": "ATC operation result (fails closed on unknown action)"
     },
     "400": {
      "description": "unknown_or_missing_action (fail-closed)"
     }
    }
   }
  },
  "/api/bundles.json": {
   "get": {
    "summary": "List skill bundles",
    "description": "Returns curated skill bundles with discounts (40-50% savings).",
    "operationId": "listBundles",
    "responses": {
     "200": {
      "description": "Array of bundles",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "bundles": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/Bundle"
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/api/categories.json": {
   "get": {
    "summary": "List all categories",
    "description": "Returns all 46 categories with skill counts.",
    "operationId": "listCategories",
    "responses": {
     "200": {
      "description": "Array of categories",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string"
           },
           "slug": {
            "type": "string"
           },
           "count": {
            "type": "integer"
           },
           "url": {
            "type": "string",
            "format": "uri"
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/api/manifest.json": {
   "get": {
    "summary": "Get marketplace metadata",
    "description": "Returns marketplace metadata including total skills, pricing tiers, commission rates, and API version.",
    "operationId": "getManifest",
    "responses": {
     "200": {
      "description": "Marketplace manifest",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Manifest"
        }
       }
      }
     }
    }
   }
  },
  "/api/quarantine": {
   "get": {
    "summary": "Tamper-evident quarantine ledger (SHA-256 per record)",
    "description": "Alias of /api/security?view=quarantine. Every quarantine decision is a signed public record; third parties can audit FP/FN rate over time.",
    "responses": {
     "200": {
      "description": "Ledger manifest + records",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/api/security": {
   "get": {
    "summary": "Security overview — 10 audit layers with per-layer public evidence",
    "description": "Machine-readable map of the Sentinel v3.0 pipeline: each layer with status, counts and the artifact where it can be verified. Mounted via /api/skills?_mode=security (Vercel Hobby 12-function cap).",
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "overview",
        "quarantine",
        "honeypot",
        "threat-intel",
        "analytics"
       ]
      },
      "description": "overview (default) | quarantine ledger | honeypot methodology | threat-intel feeds | analytics aggregates"
     }
    ],
    "responses": {
     "200": {
      "description": "Layer map / view payload",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/api/sentinel-benchmark.json": {
   "get": {
    "summary": "Sentinel decision-level benchmark (precision/recall/F1)",
    "description": "Confusion matrix over labeled public corpora (quarantine ledger + documented incidents + first-party package corpus). Includes limitations and reproducibility steps. Human version: /security/sentinel-benchmark.",
    "responses": {
     "200": {
      "description": "Benchmark with methodology, corpora, matrix and metrics",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/api/skills.json": {
   "get": {
    "summary": "Skills catalog dump (DEPRECATED — removed 2026-09-25)",
    "description": "Returns a small deprecation manifest. The unpaginated 94MB catalog dump was removed on 2026-09-25 (audit AUD-2026-0821-MN finding F-06). Use GET /api/skills?page=1&limit=100 (paginated, max limit 500, supports category, filter, sort, q, risk, tier) or GET /api/skills-lite.json for the bulk dataset the UI uses. See /api/manifest.json.",
    "operationId": "listSkills",
    "parameters": [
     {
      "name": "q",
      "in": "query",
      "description": "Search query (filter client-side)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "category",
      "in": "query",
      "description": "Filter by category (filter client-side)",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "AI/ML",
        "Developer Tools",
        "Data",
        "Security",
        "DevOps",
        "Finance",
        "Communication",
        "Media",
        "Healthcare",
        "Legal",
        "Education",
        "Research",
        "Analytics",
        "IoT",
        "Web/API",
        "Automation",
        "Productivity",
        "Blockchain",
        "Sales",
        "Marketing",
        "Agent Reliability",
        "Agent Tool Use",
        "Agent Context Management",
        "Agent Production",
        "Agent Safety",
        "Agent Performance",
        "Cloud",
        "Database",
        "Mobile",
        "Gaming",
        "Government",
        "Scientific",
        "Voice",
        "Network",
        "System",
        "Cognitive",
        "Analysis",
        "Messaging"
       ]
      }
     },
     {
      "name": "max_price",
      "in": "query",
      "description": "Maximum price in USD (filter client-side)",
      "required": false,
      "schema": {
       "type": "number",
       "minimum": 0,
       "maximum": 9.99
      }
     },
     {
      "name": "language",
      "in": "query",
      "description": "Filter by available translation language (filter client-side on translations field)",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "en",
        "es",
        "zh",
        "pt",
        "fr"
       ]
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "Maximum number of results (client-side slice)",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 20,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Array of skills",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/Skill"
         }
        }
       }
      }
     }
    },
    "deprecated": true
   }
  }
 },
 "components": {
  "schemas": {
   "Skill": {
    "type": "object",
    "required": [
     "id",
     "name",
     "slug",
     "description",
     "category",
     "price"
    ],
    "properties": {
     "id": {
      "type": "string",
      "description": "Unique identifier",
      "example": "mn-gen-00015"
     },
     "name": {
      "type": "string",
      "description": "Human-readable name",
      "example": "Discord-mcp-server"
     },
     "slug": {
      "type": "string",
      "description": "URL-safe slug for install command",
      "example": "discord-mcp-server"
     },
     "description": {
      "type": "string",
      "description": "What the skill does",
      "example": "A comprehensive MCP server for Discord interaction"
     },
     "category": {
      "type": "string",
      "description": "Skill category",
      "example": "Communication"
     },
     "tags": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "Searchable tags"
     },
     "price": {
      "type": "number",
      "description": "Price in USD",
      "minimum": 0,
      "maximum": 9.99,
      "example": 1.99
     },
     "currency": {
      "type": "string",
      "description": "Always USD",
      "example": "USD"
     },
     "payment": {
      "type": "string",
      "description": "Always one-time",
      "example": "one-time"
     },
     "license": {
      "type": "string",
      "description": "Always perpetual",
      "example": "perpetual"
     },
     "verified": {
      "type": "boolean",
      "description": "Always true (all skills pass Sentinel L1)"
     },
     "sentinel_score": {
      "type": "integer",
      "description": "Security score 0-10",
      "minimum": 0,
      "maximum": 10
     },
     "install": {
      "type": "string",
      "description": "Shell command to install",
      "example": "npx -y @marketnow/install discord-mcp-server"
     },
     "author": {
      "type": "string",
      "description": "Skill author"
     },
     "version": {
      "type": "string",
      "description": "Semver version",
      "example": "1.0.0"
     },
     "language": {
      "type": "string",
      "description": "Source language",
      "example": "es"
     },
     "translations": {
      "type": "object",
      "description": "Available translations (only for skills with system_prompt)",
      "properties": {
       "en": {
        "$ref": "#/components/schemas/Translation"
       },
       "es": {
        "$ref": "#/components/schemas/Translation"
       },
       "zh": {
        "$ref": "#/components/schemas/Translation"
       },
       "pt": {
        "$ref": "#/components/schemas/Translation"
       },
       "fr": {
        "$ref": "#/components/schemas/Translation"
       }
      }
     },
     "doc": {
      "type": "object",
      "properties": {
       "setup": {
        "type": "string"
       },
       "usage": {
        "type": "string"
       },
       "system_prompt": {
        "type": "string",
        "description": "Ready-to-use system prompt for AI agents"
       }
      }
     },
     "premium": {
      "type": "boolean",
      "description": "True if premium tier skill"
     },
     "tier": {
      "type": "string",
      "description": "Premium tier name"
     }
    }
   },
   "Translation": {
    "type": "object",
    "properties": {
     "name": {
      "type": "string"
     },
     "description": {
      "type": "string"
     },
     "system_prompt": {
      "type": "string"
     }
    }
   },
   "Manifest": {
    "type": "object",
    "properties": {
     "name": {
      "type": "string"
     },
     "version": {
      "type": "string"
     },
     "total_skills": {
      "type": "integer"
     },
     "categories_count": {
      "type": "integer"
     },
     "pricing": {
      "type": "object"
     },
     "commission_rate": {
      "type": "number"
     },
     "endpoints": {
      "type": "object"
     }
    }
   },
   "Bundle": {
    "type": "object",
    "properties": {
     "id": {
      "type": "string"
     },
     "name": {
      "type": "string"
     },
     "description": {
      "type": "string"
     },
     "skills": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "original_price": {
      "type": "number"
     },
     "bundle_price": {
      "type": "number"
     },
     "savings": {
      "type": "integer"
     },
     "category": {
      "type": "string"
     }
    }
   },
   "AgentInstructions": {
    "type": "object",
    "properties": {
     "name": {
      "type": "string"
     },
     "description": {
      "type": "string"
     },
     "url": {
      "type": "string"
     },
     "api_base": {
      "type": "string"
     },
     "pricing": {
      "type": "object"
     },
     "endpoints": {
      "type": "object"
     },
     "workflow_for_agents": {
      "type": "object"
     },
     "rate_limits": {
      "type": "object"
     },
     "mcp_server": {
      "type": "object"
     }
    }
   }
  }
 }
}